.get-stared-modal {
    .modal-header {

    }
    .modal-content {
        .upload-progress {

        }

        .submit-btn {
            margin-top: 10px;
        }
    }

    
    .btn-group {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .video-section {
        margin-top: 10px;
    }
}