.landing-page2 {
    .hero-image {
        display: flex;
        justify-content: space-between;
        padding: 10%;
        background-image: url('img/marquee1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .hero-card {
            width: 40%;

            & > p:nth-child(1) {
                font-size: 1.1875rem;
            }

            & > h1:nth-child(2) {
                margin-top: 10px;
                font-size: 3rem;
                line-height: 1.125;
            }

            & > p:nth-child(3) {
                margin-top: 10px;
                font-size: 24px;
                line-height: 1.167;
            }

            & > li {
                margin-top: 10px;
                padding: 0;
            }
        }
    }

    .what-is-bizintro {
        text-align: center;
        margin: 5%;

        & > div {
            & > h1:nth-child(1) {
                font-size: 3rem;
                line-height: 1.125;
            }

            & > p {
                width: 70%;
                margin: 20px auto;
                font-size: 32px;
                line-height: 1.1875;
            }
        }
    }

    .news-list {
        .header {
            h2 {
                text-align: center;
                font-size: 2.25rem;
                line-height: 1.23;
            }
        }
    }

    .landing-page-footer {
        background-color: #1b39a8;

        .footer-cards-container {
            display: flex;
            justify-content: space-around;

            .left-card {
                width: 50%;
                padding: 5%;
                border-right: 1px solid white;

                & > h1:nth-child(1) {
                    color: white;
                    font-size: 1.1875rem;
                    line-height: 1.26316;
                    font-weight: 100;
                }

                & > h2:nth-child(2) {
                    color: white;
                    font-size: 2.25rem;
                    line-height: 1.23;
                    font-weight: 600;
                }

                & > li {
                    padding-left: 0;

                    & > a {
                        color: white;
                    }
                }
            }

            .right-card {
                width: 50%;
                padding: 5%;

                & > h1:nth-child(1) {
                    color: white;
                    font-size: 1.1875rem;
                    line-height: 1.26316;
                    font-weight: 100;
                }

                & > h2:nth-child(2) {
                    color: white;
                    font-size: 2.25rem;
                    line-height: 1.23;
                    font-weight: 600;
                }

                & > li {
                    padding-left: 0;

                    & > a {
                        color: white;
                    }
                }
            }
        }
    }
}