.test123 {
    display: flex;
    min-height: 100vh;

    .left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 480px);
        background-image: url('img/login1.png');
        background-position: center;
        background-repeat: no-repeat;

        h2 {
            color: #fff;
            font-size: 3rem;
            line-height: 1.125;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 768px) {
        .left-side {
             display: none;
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 480px;
        background-color: #1b39a8;
        text-align: center;

        .main-title {
            color: white;
            text-align: center;
            font-size: 3rem;
            line-height: 1.125;
        }

        .smail-title {
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.375;
        }

        .login-form {
            width: 90%;

            .user-email {
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-bottom: 20px;

                label {
                    color: white;
                    margin-bottom: 10px;
                }

                input {
                    color: white;
                }
            }

            .password {
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-bottom: 20px;

                label {
                    color: white;
                }

                input {
                    color: white;
                }
            }

            .errorMsg {
                text-align: left;
                color: #e10050;
            }

            .remember-me {
                text-align: left;
                color: white;

                span {
                    width: auto;

                    svg {
                        color: white;
                    }
                }
            }

            button {
                color: white;
            }
            
            .login-button {
                background-color: #e10050;
                color: white;
                width: 100%;
                margin-bottom: 30px;
            }

            .brand {
                p {
                    color: white;
                }
            }

            li {
                a {
                    color: white;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .right-side {
            width: 100%;
        }
    }
}