.card-list-container {
    .card-list-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        & > div {
            margin-bottom: 40px;
        }
    }
}