.signUpSlide {
    .drawer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 100%;
        background-color: #1b39a8;

        .main-title {
            font-size: 3rem;
            line-height: 1.125;
            text-align: center;
            margin-bottom: 12px;
            color: white;
        }

        .form-content {
            width: 90%;
            margin: 0 auto;

            .first-name {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    color: white;
                }
                
                input {
                    color: white;
                }
            }

            .last-name {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    color: white;
                }
                
                input {
                    color: white;
                }
            }

            .email {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    color: white;
                }

                input {
                    color: white;
                }
            }

            .password {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    color: white;
                }

                input {
                    color: white;
                }
            }

            .confirm-password {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    color: white;
                }

                input {
                    color: white;
                }

                button: {
                    color: white !important;
                }
            }

            .terms-and-conditions {
                text-align: left;
                color: white;

                span {
                    width: auto;

                    svg {
                        color: white;
                    }
                }
            }

            .submit-btn {
                background-color: #e10050;
                color: white;
                width: 100%;
                margin-bottom: 30px;
            }

             li {
                a {
                    color: white;
                }
            }
        }
    }
}